$primary:#69140E;
$secodary: #A44200;
$warning: #FCDFA6;


// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:  poppins,    system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:   popins,    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;



@import '../node_modules/bootstrap/scss/bootstrap';